<h2><%= @department.name %></h2>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Jobs within <%= @department.name %></th>
        </tr>
      </thead>

      <tbody>
        <% @department.jobs.each do |job| %>
          <tr>
            <td><%= link_to job.role.name, job_path(job) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
