<%= simple_form_for(@role) do |role_form| %>
  <div>
    <%= role_form.input :name, label: 'Name' %>
  </div>
  <div>
    <%= role_form.association :departments, as: :check_boxes, collection: Department.all.to_a, label_method: :name %>
  </div>
  <div>
    <%= role_form.button :submit, { class: 'btn btn-info btn-small' } %>
  </div>
<% end %>

